body {
	margin:0; /*Para no guardar ningun margen en la pantalla*/
	background-image: url("../images/cafe.jpg");  /*Imagen que queremos poner como fondo*/
	background-size:cover; /*Para que la imagen no nos quede expandida y no centrada o en mosaico*/
}

ul.top { /*Barra de navegación superior*/
    list-style-type: none;
    margin: 0;
    padding: 0; /*Sin relleno*/
    overflow: hidden;
    background-color: #4286f4; /*Color azul*/
    position: fixed; /*Para que la barra siempre se quede 'anclada' en la misma posición*/
    top: 0; /*Distancia entre el borde superior de la pantalla y la barra => 0*/
	height: 12%;
    width: 100%; /*Ocupar todo el ancho de pantalla*/
	z-index: 1; /*Si se superponen elementos, la barra siempre 'por encima'*/
}

li  img{
    float: left; /*Para situar el logo de la aplicación a la izda. en la barra superior*/
}

li a {
	float: right; /*Situar los links en la parte derecha de la barra superior*/
    display: block; 
    color: white;
	font-size: 120%;
    text-align: center;
    padding: 30px 20px; /*Relleno de cada elemento*/
    text-decoration: none; /*Texto normal (sin negrita, subrayados, itálica,...)*/
}

li a:hover {
    background-color: #1d5dc4; 
}

form { /*Formulario de login*/
	background-color: rgb(192, 199, 211); /*Color gris de fondo con grado de opacidad 0.7*/
	width: 500px; /*Anchura del form*/
    height: 230px; /*Altura del form*/
	position: absolute; /*Tipo de posición absoluta*/
	top:17%; /*Distancia con respecto al borde superior*/
	left:30%; /*Distancia con respecto al borde izquierdo*/
	border-radius: 15px; /*Para redondear las esquinas de la caja*/
	text-align: center; /*Alineamiento del texto*/
}

form h1 {
	color: white;
}

th, td {
    text-align: center;
    padding: 8px;
}

form span { /*Texto incluido en span a modo de etiqueta de elementos del formulario */
    display: inline-block; 
    width: 150px;
	color: white;
	font-size: 110%;
}

#password, #correo { /*Campos de entrada para el correo y la contraseña en el formulario*/
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}

#submit {
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#submit:hover {
    background-color: #008CBA;
    color: white;
}
